/* 使用 mixins */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

main {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background: hsl(220, 10%, 5%);
  font-size: 1.5rem;
  box-sizing: border-box;
}

main h1 {
    color: var(--normal-color);
  }

main .boxes {
    display: -webkit-box;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    height: 400px;
  }

main .boxes .box { /* ⚡️⚡️需要加上 & 跟空格来使用最新的 CSS 嵌套语法！！ */
      width: 200px;
      height: 100px;
      background: -webkit-linear-gradient(294deg, rgba(0, 12, 168, 1) 0%, rgba(255, 0, 238, 1) 100%);
      background: linear-gradient(156deg, rgba(0, 12, 168, 1) 0%, rgba(255, 0, 238, 1) 100%);
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      border-radius: 10px;
      box-shadow: 0 0 48px rgba(255, 0, 238, 0.2);
    }

main .boxes .box:hover {
        background: -webkit-linear-gradient(294deg, rgba(255, 0, 238, 1) 0%, rgba(0, 12, 168, 1) 100%);
        background: linear-gradient(156deg, rgba(255, 0, 238, 1) 0%, rgba(0, 12, 168, 1) 100%);

        /* 缓动过渡 */
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }

main ul {
    display: -webkit-box;
    display: flex;
    width: 100%;
  }

main ul li {
      width: 100%;
      color: var(--normal-color);
    }

main ul li button {
        /* 使用 mixins */
        border-radius: 6px;
        width: 88px;
        height: 32px;
        background-color: #3370ff;
        outline: none;
      }
